@font-face {
    font-family: poppins;
    src: url(font/Poppins-Medium.ttf);
    font-weight: 400;
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    /* overflow-x: hidden; */
}

.root {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #1d2026;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .menu {
    width: 25px;
    margin-right: 20px;
}

nav .logo {
    width: 160px;
}

nav ul {
    list-style: none;
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

.btn {
    height: 30px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-color: #efefef;
    transition: .4s;
}

nav a {
    text-decoration: none;
    color: white;
}

.slider {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: block;
    margin-left: 2px;
    background-color: #999;
    transition: .4s;
}

.on-btn {
    height: 30px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00986f;
}

.slider-on {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: block;
    margin-left: 2px;
    background-color: #fff;
    transform: translateX(29px);
}

.lamp-light {
    position: absolute;
    top: 0;
    left: 22%;
    width: 700px;
    height: 900px;
}

.lamp { 
    position: absolute;
    top: 0;
    left: 423px;
    width: 220px;
}

#light {
    position: absolute;
    top: 415px;
    left: 122px;
    width: 800px;
    opacity: 0.7;
}

.text {
    position: relative;
    display: flex;
    left: 50%;
    top: 150px;
    max-width: 600px;
    flex-direction: column;
    flex-wrap: wrap;
}

.text h1 {
    font-size: 80px;
    font-weight: 100;
}

.text a {
    display: inline-block;
    padding: 12px 25px;
    width: 250px;
    margin-top: 50px;
    background-color: #00986f;
    font-size: 18px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

.control {
    display: flex;
    margin-top: 150px;
    align-items: center;
    font-size: 25px;
}

span {
    display: inline-block;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

input[type="range"] {
    -webkit-appearance: none;
    width: 300px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#00986f, #00986f);
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #00986f;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }